.container {
  display: flex;
  justify-content: space-between;
  height: 80%;
  margin-top: 2em;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.newRoomInput {
  border: none;
  border-bottom: 2px solid var(--primary);
  background-color: transparent;
  color: var(--text);
  outline: none;
  padding: 10px 0;
  width: 85%;
}

.chatContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1em;
}

.input {
  padding: 0.8em;
  width: 61%;
  background-color: var(--background);
  border: 1px solid var(--primary);
  color: var(--text);
  outline: none;
  border-radius: 1em;
  font-size: 1em;
  position: fixed;
  bottom: 1%;
}

@media (max-width: 520px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebarContainer {
    width: 100%;
  }

  .chatContainer {
    margin-bottom: 3em;
  }

  .newRoomInput {
    width: 90%;
  }

  .input {
    width: 80%;
  }
}
